{% extends 'layout.html' %}

{% block title %}
    Inicio
{% endblock %}

{% block content %}
<h1>Contenido para listar docentes</h1><br>
{% load static %}
<style>
    table {
        width: 80%;
        margin: auto;
        border-collapse: collapse;
        text-align: center;
    }

    th, td {
        border: 1px solid black;
        padding: 10px;
    }

    th {
        background-color: #B9BAC1;  /* Morado claro para el encabezado */
    }

    button {
        background-color: #ff3d00;  /* Rojo para el botón */
        color: white;
        padding: 8px 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background-color: #d32f2f;  /* Cambio de color al pasar el mouse sobre el botón */
    }

    img {
        max-height: 50px;
    }
</style>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>CÓDIGO</th>
            <th>NOMBRE</th>
            <th>APELLIDO PATERNO</th>
            <th>APELLIDO MATERNO</th>
            <th>DNI</th>
            <th>FECHA NACIMIENTO</th>
            <th>FECHA DE REGISTRO</th>
            <th>ESTADO</th>
            <th>ACCIÓN</th>
        </tr>
    </thead>
    <tbody>
        {% for docente in docentes %}
            <tr>
                <td>{{ docente.id }}</td>
                <td>{{ docente.codigo }}</td>
                <td>{{ docente.nombre }}</td>
                <td>{{ docente.apellido_paterno }}</td>
                <td>{{ docente.apellido_materno }}</td>
                <td>{{ docente.dni }}</td>
                <td>{{ docente.fecha_nacimiento }}</td>
                <td>{{ docente.fecha_registro }}</td>
                <td>{{ docente.estado }}</td>
                <td>
                    <a href="{% url 'eliminar_docente' id_docente=docente.id %}">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
